.shownCart img{
    height: 50px;
}

.shownCart span{ 
    background-color: #5f0db8;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    min-width: 1.5em;
    position: relative;
    left: -11px;
    padding: 3px;
}

.hiddenCart{
    display: none;
}

@media screen and (max-width:576px) {
    .shownCart img{
        height: 36px;
    }



}
