.itemCartContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;   
    border-radius: 15px;
    background-color: #ed744b;
    padding: 5px;
}

.itemCartTitle {
    font-weight: bold;
    min-width: 40%;
    text-transform: uppercase;
}

.itemCartQuant {
    font-weight: bold;
}

.itemCartSubt {
    font-weight: bold;
}

@media screen and (max-width:576px) {
    .itemCartContainer {
        width: 97%;  
        border-radius: 5px;;
        padding: 3px;
    }

    .itemCartSubt {
        font-weight: normal;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .itemCartContainer {
        width: 98%;   
        border-radius: 5px;
        background-color: #ed744b;
        padding: 3px;
    }
    
    .itemCartSubt {
        font-weight: normal;
    }

}