.listProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

@media screen and (max-width:576px) {
    .listProducts {
    padding-top: 19%;
    justify-content: center;
    
    }
}
